*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*--- nav section ---*/
#nav-bar{
    background-color: #96928E;
}
.nav-link{
    color: #000000;
    font-weight: 600;
}
.navbar-brand{
    color: #000000;
    font-weight: 800;
}
/*--- nav section ---*/

/*--- banner section ---*/
.carousel-item{
    height: 100%;
}
.carousel-caption {
    position: absolute;
    left: -1%;
    top: 20%;
    transform: translateY(10%);
}
.carousel-caption h1{
    color: #000000;
    font-size: 70px;
    font-weight: 400;
}
.carousel-caption p{
    color: black;
    font-weight: 600;
}
.btn{
    background-color: red;
    padding: 10px 25px;
    color: white;
    outline:none;
    border: none;
    text-transform: uppercase;
    transition: 0.4s linear;
}
.btn:hover{
    background-color: white;
    color: tomato;
}
/*--- banner section ---*/

/*--- sub menu section ---*/
#sub-menu{
    background-color: rgb(70, 63,63);
    padding: 40px;
    color: #fff;
}
#sub-menu .btn1{
    height: 50px;
    width: 50%;
    color: white;
    background-color: yellowgreen;
    outline: none;
    border: none;
    margin-left: -2pxs;
}
#sub-menu input{
    padding: 10px;
    width: 50%;
    height: 51px;
    color: black;
    outline: none;
}
#sub-menu span .fa{
    color: yellowgreen;
    font-size: 30px;
}
/*--- sub menu section ---*/

/*--- collection section ---*/
.card {
    border: none;
}
.card-img-top {
    border-radius: 0px;
}
.card-body {
    padding: 10px 0px;
}
.title{
    padding: 50px;
}
.card-text span{
    color: yellowgreen;
    font-weight: 700;
    padding-left: 5px;
    font-size: 20px;
}
/*--- collection section ---*/

/*--- parallex section ---*/
.parallex{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/images/banner1.jpg)no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
}
.parallex h1{
    font-size: 50px;
    font-weight: 700;
    color: black;
}
.parallex p{
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.btn1{
    padding: 8px 25px;
    background: transparent;
    color: white;
    border-radius: 4px;
    border: 2px solid white !important;
    outline: none;
    text-transform: uppercase;
    transition: 0.4s;
}
.btn1:hover{
    background: white;
    color: yellowgreen;
    outline: none;
    border: none;
}
.btn2{
    padding: 8px 25px;
    background: white;
    color: yellowgreen;
    border-radius: 3px;
    border: 2px solid white !important;
    outline: none;
    border: none;
    text-transform: uppercase;
    transition: 0.4s;
}
.btn2:hover{
    background: black;
    color: white;
    outline: none;
    border: none;
}
/*--- parallex section ---*/
.card-title:hover{
    color: yellowgreen;
    transition: 0.4s;
}
/*--- contact section ---*/
#contact{
    background-color: rgb(245, 245, 245);
    margin-top: 40px;
}
#contact input{
    width: 100%;
    color: gray;
    background-color: white;
    padding: 10px;
    outline: none;
    border: none;
    margin-top: 75px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(230,230,230,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(230,230,230,1);
    box-shadow: 10px 10px 5px 0px rgba(230,230,230,1);
}
button.btn4 {
    background: yellowgreen;
    color: white;
    outline: none;
    border: none;
    padding: 10px 25px;
    margin: 40px 0;
}
#contact P{
    text-transform: capitalize;
}

/*--- contact section ---*/