*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*--- nav section ---*/
#nav-bar{
    background-color: #96928E;
}
.nav-link{
    color: #000000;
    font-weight: 600;
}
.navbar-brand{
    color: #000000;
    font-weight: 800;
}
/*--- nav section ---*/

/*--- banner section ---*/
.carousel-item{
    height: 500px;
}
.carousel-caption {
    position: absolute;
    left: -1%;
    top: 20%;
    transform: translateY(10%);
}
.carousel-caption h1{
    color: #000000;
    font-size: 70px;
    font-weight: 400;
}
.carousel-caption p{
    color: black;
    font-weight: 600;
}
.btn{
    background-color: red;
    padding: 10px 25px;
    color: white;
    outline:none;
    border: none;
    text-transform: uppercase;
    transition: 0.4s linear;
}
.btn:hover{
    background-color: white;
    color: tomato;
}
/*--- banner section ---*/

/*--- sub menu section ---*/
#sub-menu{
    background-color: rgb(70, 63,63);
    padding: 40px;
    color: #fff;
}
#sub-menu .btn1{
    height: 50px;
    width: 50%;
    color: white;
    background-color: yellowgreen;
    outline: none;
    border: none;
    margin-left: -2pxs;
}
#sub-menu input{
    padding: 10px;
    width: 50%;
    height: 51px;
    color: black;
    outline: none;
}
.sub{

}
/*--- sub menu section ---*/



